In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [12]:
dataset_path = "./input_001.csv"
df = pd.read_csv(dataset_path)

In [14]:
df

               item
0         Blue Jazz
1       Cauliflower
2            Garlic
3              Kale
4           Parsnip
..              ...
215  Lobster Bisque
216        Escargot
217       Fish Stew
218       Maple Bar
219      Crab Cakes

[220 rows x 1 columns]

In [13]:
df['item\t\t'] = df['item\t\t'].apply(lambda x: x.replace('\t', ''))
df.columns = df.columns.str.replace('\t', '', regex=True)

In [28]:
start_date = datetime(2024, 4, 1)
end_date = datetime(2035, 12, 31)
def generate_rand_dates(num_of_dates, start_date, end_date):
    dates = []
    date_range = end_date - start_date
    for _ in range(num_of_dates):
        rand_days = random.randint(0, date_range.days)
        rand_date  = start_date + timedelta(days=rand_days)
        dates.append(rand_date.strftime('%d/%m/%Y'))
    return dates

In [29]:
dates = generate_rand_dates(220, start_date, end_date)

In [30]:
print(dates)

['01/06/2033', '28/09/2029', '02/07/2026', '09/06/2029', '07/03/2027', '12/11/2030', '26/09/2027', '20/11/2031', '27/02/2030', '12/05/2026', '19/08/2028', '06/04/2033', '23/02/2034', '28/09/2035', '11/09/2030', '06/03/2031', '18/05/2028', '19/09/2025', '01/06/2032', '23/04/2026', '19/11/2031', '01/05/2028', '19/10/2035', '25/11/2024', '25/01/2025', '20/08/2030', '04/12/2035', '05/01/2028', '21/09/2031', '22/01/2033', '30/07/2035', '31/01/2029', '20/03/2032', '10/11/2026', '01/11/2033', '22/08/2035', '26/04/2029', '20/09/2031', '30/10/2025', '30/09/2035', '13/05/2032', '24/07/2031', '24/06/2029', '28/12/2024', '01/02/2025', '13/11/2033', '13/04/2025', '18/09/2031', '17/07/2031', '02/06/2029', '31/12/2026', '25/04/2025', '17/01/2030', '18/03/2032', '09/03/2030', '26/09/2033', '15/12/2029', '15/10/2031', '25/01/2027', '27/10/2025', '25/02/2031', '14/12/2026', '12/10/2031', '13/10/2025', '26/10/2033', '23/04/2032', '22/08/2026', '10/12/2027', '02/12/2032', '26/01/2033', '31/05/2033', '20/05/2025', '12/12/2035', '04/10/2035', '29/06/2031', '02/10/2027', '07/01/2034', '13/02/2028', '17/10/2035', '20/06/2025', '06/10/2024', '25/03/2032', '06/02/2032', '26/04/2030', '18/03/2031', '22/09/2029', '08/11/2031', '13/06/2026', '14/04/2025', '28/04/2025', '18/12/2033', '19/06/2025', '19/01/2032', '14/06/2034', '24/04/2026', '09/10/2033', '07/09/2034', '16/07/2033', '04/08/2028', '14/10/2034', '02/05/2028', '11/11/2032', '26/01/2033', '25/12/2029', '30/11/2030', '12/01/2032', '16/10/2029', '10/02/2032', '18/05/2031', '14/11/2035', '22/09/2031', '19/06/2031', '04/06/2026', '02/09/2032', '03/07/2027', '10/06/2024', '30/09/2034', '02/10/2030', '08/11/2034', '17/01/2035', '07/09/2029', '17/09/2034', '30/11/2029', '12/08/2024', '08/06/2026', '02/12/2030', '06/08/2027', '22/08/2028', '30/09/2033', '23/04/2030', '04/10/2028', '01/04/2035', '29/12/2031', '08/01/2035', '24/04/2033', '30/11/2026', '03/09/2034', '13/09/2035', '28/03/2025', '13/05/2029', '21/01/2035', '30/12/2035', '03/01/2025', '13/07/2029', '31/10/2029', '04/07/2031', '26/02/2031', '27/06/2035', '17/11/2034', '30/07/2035', '25/05/2029', '11/06/2035', '12/01/2031', '25/07/2028', '01/04/2030', '03/09/2030', '03/11/2033', '14/06/2030', '24/08/2027', '28/10/2033', '16/12/2034', '30/09/2035', '28/02/2035', '23/01/2034', '03/06/2033', '19/02/2029', '16/05/2030', '13/11/2035', '05/06/2027', '24/08/2027', '29/06/2033', '02/06/2027', '21/10/2034', '06/07/2035', '29/11/2035', '13/03/2029', '19/12/2033', '25/06/2024', '22/03/2034', '03/10/2025', '23/09/2031', '24/07/2026', '07/04/2033', '16/11/2025', '09/09/2029', '29/11/2026', '30/09/2034', '20/01/2028', '02/09/2024', '10/06/2027', '11/11/2027', '02/09/2028', '25/06/2031', '21/09/2030', '02/12/2029', '03/11/2024', '05/10/2028', '04/09/2025', '26/07/2032', '19/10/2033', '01/03/2031', '26/08/2026', '09/04/2028', '19/05/2031', '01/07/2034', '21/05/2032', '17/12/2030', '28/03/2030', '02/11/2035', '31/05/2024', '11/07/2026', '28/02/2029', '08/02/2031', '11/10/2028', '20/02/2026', '15/03/2032', '25/09/2032', '03/04/2029', '04/10/2032', '13/04/2034']

In [24]:
quantities = [random.randint(0, 100) for _ in range(220)]

In [25]:
print(quantities)

[18, 33, 81, 69, 62, 68, 12, 38, 24, 63, 14, 24, 32, 55, 14, 29, 60, 5, 31, 0, 38, 41, 38, 62, 84, 4, 44, 83, 79, 9, 69, 44, 9, 28, 39, 84, 28, 58, 99, 92, 31, 28, 54, 77, 49, 7, 93, 89, 54, 90, 16, 40, 29, 91, 31, 8, 68, 35, 36, 37, 39, 91, 29, 91, 81, 91, 54, 33, 80, 84, 46, 51, 70, 10, 44, 63, 39, 34, 65, 58, 23, 32, 8, 75, 63, 23, 22, 38, 0, 48, 18, 36, 82, 65, 8, 13, 88, 53, 94, 60, 6, 16, 22, 46, 19, 89, 99, 39, 56, 80, 86, 25, 67, 98, 13, 97, 23, 35, 32, 10, 39, 59, 14, 93, 91, 7, 27, 30, 38, 84, 43, 17, 5, 78, 64, 67, 86, 74, 90, 54, 77, 95, 59, 36, 92, 45, 93, 4, 9, 13, 59, 67, 82, 90, 99, 72, 22, 86, 66, 16, 55, 53, 44, 17, 99, 56, 39, 18, 84, 85, 82, 39, 44, 76, 32, 66, 53, 99, 10, 73, 51, 34, 87, 85, 27, 40, 46, 3, 25, 8, 10, 17, 26, 19, 37, 26, 23, 68, 33, 62, 26, 58, 53, 53, 18, 36, 19, 68, 75, 50, 20, 63, 27, 59, 87, 59, 74, 91, 73, 44]

In [31]:
df['quantity'] = quantities
df['expiry-date'] = dates
df

               item  quantity expiry-date
0         Blue Jazz        18  01/06/2033
1       Cauliflower        33  28/09/2029
2            Garlic        81  02/07/2026
3              Kale        69  09/06/2029
4           Parsnip        62  07/03/2027
..              ...       ...         ...
215  Lobster Bisque        59  15/03/2032
216        Escargot        74  25/09/2032
217       Fish Stew        91  03/04/2029
218       Maple Bar        73  04/10/2032
219      Crab Cakes        44  13/04/2034

[220 rows x 3 columns]

In [27]:
df.to_csv(dataset_path, index= False)