In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [3]:
dataset_path = "./input.csv"
df = pd.read_csv(dataset_path)

In [4]:
df

                           item  quantity  expiry-date
0                     Blue Jazz       NaN          NaN
1                   Cauliflower       NaN          NaN
2                        Garlic       NaN          NaN
3                          Kale       NaN          NaN
4                       Parsnip       NaN          NaN
5                        Potato       NaN          NaN
6                       Rhubarb       NaN          NaN
7                         Tulip       NaN          NaN
8     Unmilled Rice (Irrigated)       NaN          NaN
9   Unmilled Rice (Unirrigated)       NaN          NaN
10                       Carrot       NaN          NaN
11                  Coffee Bean       NaN          NaN
12                   Green Bean       NaN          NaN
13                   Strawberry       NaN          NaN
14                        Melon       NaN          NaN
15                        Poppy       NaN          NaN
16                       Radish       NaN          NaN
17                  Red Cabbage       NaN          NaN
18                    Starfruit       NaN          NaN
19               Summer Spangle       NaN          NaN
20                    Sunflower       NaN          NaN
21                        Wheat       NaN          NaN
22                    Blueberry       NaN          NaN
23                  Coffee Bean       NaN          NaN
24                         Corn       NaN          NaN
25                         Hops       NaN          NaN
26                   Hot Pepper       NaN          NaN
27                       Tomato       NaN          NaN
28                Summer Squash       NaN          NaN
29                     Amaranth       NaN          NaN
30                      Aichoke       NaN          NaN
31                         Beet       NaN          NaN
32                     Bok Choy       NaN          NaN
33                   Fairy Rose       NaN          NaN
34                      Pumpkin       NaN          NaN
35              Sweet Gem Berry       NaN          NaN
36                        Wheat       NaN          NaN
37                          Yam       NaN          NaN
38                         Corn       NaN          NaN
39                  Cranberries       NaN          NaN
40                     Eggplant       NaN          NaN
41                        Grape       NaN          NaN
42                  Powdermelon       NaN          NaN

In [10]:
start_date = datetime(2025, 4, 1)
end_date = datetime(2035, 12, 31)
def generate_rand_dates(num_of_dates, start_date, end_date):
    dates = []
    date_range = end_date - start_date
    for _ in range(num_of_dates):
        rand_days = random.randint(0, date_range.days)
        rand_date  = start_date + timedelta(days=rand_days)
        dates.append(rand_date.strftime('%d-%m-%Y'))
    return dates

In [22]:
dates = generate_rand_dates(43, start_date, end_date)

In [23]:
print(dates)

['22-06-2032', '20-11-2034', '11-02-2034', '22-04-2026', '14-06-2035', '26-05-2032', '24-03-2028', '17-05-2033', '21-07-2033', '24-11-2032', '17-06-2026', '30-11-2034', '12-09-2035', '15-09-2030', '20-12-2035', '01-12-2025', '28-10-2031', '25-02-2029', '02-11-2030', '17-04-2030', '17-02-2035', '03-03-2027', '31-07-2031', '03-10-2025', '16-09-2032', '16-11-2029', '29-01-2027', '20-04-2025', '09-12-2027', '29-08-2026', '22-09-2035', '14-04-2030', '15-06-2026', '10-12-2030', '26-05-2025', '03-10-2035', '08-08-2026', '14-04-2031', '20-10-2034', '15-03-2026', '05-07-2029', '09-09-2032', '15-06-2033']

In [24]:
quantities = random.sample(range(0, 100), 43)

In [25]:
print(quantities)

[29, 58, 3, 57, 22, 17, 50, 73, 7, 40, 41, 54, 9, 46, 43, 2, 11, 72, 67, 45, 27, 98, 78, 84, 71, 86, 70, 60, 66, 61, 18, 52, 75, 91, 88, 15, 83, 33, 62, 96, 12, 10, 32]

In [26]:
df['quantity'] = quantities
df['expiry-date'] = dates
df

                           item  quantity expiry-date
0                     Blue Jazz        29  22-06-2032
1                   Cauliflower        58  20-11-2034
2                        Garlic         3  11-02-2034
3                          Kale        57  22-04-2026
4                       Parsnip        22  14-06-2035
5                        Potato        17  26-05-2032
6                       Rhubarb        50  24-03-2028
7                         Tulip        73  17-05-2033
8     Unmilled Rice (Irrigated)         7  21-07-2033
9   Unmilled Rice (Unirrigated)        40  24-11-2032
10                       Carrot        41  17-06-2026
11                  Coffee Bean        54  30-11-2034
12                   Green Bean         9  12-09-2035
13                   Strawberry        46  15-09-2030
14                        Melon        43  20-12-2035
15                        Poppy         2  01-12-2025
16                       Radish        11  28-10-2031
17                  Red Cabbage        72  25-02-2029
18                    Starfruit        67  02-11-2030
19               Summer Spangle        45  17-04-2030
20                    Sunflower        27  17-02-2035
21                        Wheat        98  03-03-2027
22                    Blueberry        78  31-07-2031
23                  Coffee Bean        84  03-10-2025
24                         Corn        71  16-09-2032
25                         Hops        86  16-11-2029
26                   Hot Pepper        70  29-01-2027
27                       Tomato        60  20-04-2025
28                Summer Squash        66  09-12-2027
29                     Amaranth        61  29-08-2026
30                      Aichoke        18  22-09-2035
31                         Beet        52  14-04-2030
32                     Bok Choy        75  15-06-2026
33                   Fairy Rose        91  10-12-2030
34                      Pumpkin        88  26-05-2025
35              Sweet Gem Berry        15  03-10-2035
36                        Wheat        83  08-08-2026
37                          Yam        33  14-04-2031
38                         Corn        62  20-10-2034
39                  Cranberries        96  15-03-2026
40                     Eggplant        12  05-07-2029
41                        Grape        10  09-09-2032
42                  Powdermelon        32  15-06-2033

In [29]:
df.to_csv(dataset_path, index= False)